.footer-cta {
    text-align: center;
    background: $alcof-dark;
    color: $white;
    padding: 100px 0;
    .section-title {
        font-weight: 700;
        position: relative;
        padding-bottom: $spacing-lg;
        margin-bottom: $spacing-lg;
        &:after {
            position: absolute;
            content:"";
            width: 80px;
            height: 5px;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,-50%);
            background: $white;
        }
    }
    .text-body {
        margin: 0 auto;
        p {
            color: $white;
        }
    }
    
}
.footer-top {
    background: $alcof-dark !important;
    color: $white;
    .footer-widget {
        margin-bottom: $spacing-lg;
        .widget-title {
            font-size: 18px;
            font-weight: 700;
            padding-right: $spacing-lg;
            display: inline-block;
            position: relative;
            margin-bottom: 0;
            &:after {
                position: absolute;
                content:"";
                width: $spacing-md;
                height: 3px;
                top: $spacing;
                right: 0;
                left: initial;
                background: $primary;
            }
        }
    }
    .menu {
        padding: 0;
        margin: 0;
        .menu-item {
            list-style: none;
            justify-content: flex-start;
            .nav-link {
                padding: $spacing-xs 0;
                color: $white;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 14px;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

.footer-bottom {
    background: $alcof-dark !important;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    .site-footer {
        .site-info {
            text-align: right;
        }
    }
}