.hero-header {
    border-bottom: 1px solid $aa-grey;
    display: flex;
    align-items: stretch;
    .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $spacing-lg;
        .slider-text {
            position: relative;
            z-index: 2;
            float: right;
            .big-heading {
                position: relative;
                margin-bottom: $spacing;
            }
            .small-heading {
                padding: $spacing-lg 0;
                font-weight: 600;
                span {
                    color: $primary;
                }
                &:after {
                    display: none;
                }
            }
            .slider-body {
                color: $aa-charcoal;
                max-width: 483px;
                font-size: 18px;
            }
            @include media-breakpoint-down(xs) {
                padding: $spacing-lg;
                margin: 0 auto;
            }
        }
        @include media-breakpoint-up(md) {
            padding: $spacing-xxl;
        }
    }
    .hero-image {
        padding: 0;
        position: relative;
        z-index: 1;
        .slider-image {
            height: 100%;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .slider-link {
            background: $white;
            padding: $spacing $spacing-lg;
            position: absolute;
            bottom: 0;
            right: 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
        }
    }
}

.hero-footer {
    border-top: 1px solid $aa-grey;
    border-bottom: 1px solid $aa-grey;
    display: flex;
    align-items: stretch;
    .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $spacing-lg;
        .owl-theme {
            .owl-nav {
                display: none;
            }
            .owl-dots {
                text-align: left;
            }
        }
        .content-block {
            @include media-breakpoint-up(md) {
                padding: $spacing-xxl;
            }
        }
        @include media-breakpoint-up(md) {
            padding: $spacing-xxl;
        }
    }
    .hero-image {
        padding: 0;
        position: relative;
        z-index: 1;
        .slider-image {
            height: 100%;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .slider-logo {
            background: $white;
            padding: $spacing $spacing-lg;
            position: absolute;
            bottom: 0;
            right: 0;
            max-height: 100px;
        }
    }
}