body {
    font-family: $body-font;
    line-height: 1.8;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    position: relative;
    padding-bottom: $spacing-lg;
    @include media-breakpoint-down(md) {
		font-size: 32px;
    }
    @include media-breakpoint-down(sm) {
		font-size: 32px;
    }
    &.section-title {
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        padding: 0 0 $spacing-lg 0;
    }
    &.light-weight {
        font-weight: 100;
        font-size: 80px;
        @include media-breakpoint-down(sm) {
            font-size: 56px;
        }
        
    }
}

h2 {
    font-size: 42px;
    position: relative;
    margin-bottom: $spacing-lg;
    font-weight: 700;
    padding: 0 0 $spacing-lg 0;
	@include media-breakpoint-down(xs) {
		font-size: 24px;
	}
}

h3 {
    font-size: 28px;
    position: relative;
    margin-bottom: $spacing-lg;
    padding: 0 0 $spacing-lg 0;
	@include media-breakpoint-down(xs) {
		font-size: 18px;
	}
}

h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.8em;
    position: relative;
    padding-right: $spacing-lg;
	@include media-breakpoint-down(xs) {
		font-size: 18px;
	}
}

.btn {
    border-radius: 0;
    font-weight: 600;
    font-size: 16px;
    padding: 1rem;
    margin: $spacing 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.btn-primary {
        color: $white !important;
    }
    &.btn-secondary {
        color: $white !important;
        background-color: $aa-teal;
        border: 0;
        position: relative;
    }
    &.btn-tag {
        background-color: $gray-200;
    }
}

#wrapper-static-content {
    @include media-breakpoint-up(sm) {
        padding: 0;
    }
}

#search-btn {
    border:none !important;
    background: none !important;
}

.content-area {
    overflow: hidden;
}

.home {
    .wrapper {
        padding: 0;
    }
}

.section {
    padding: 100px 0;
    @include media-breakpoint-down(xs) {
        padding: 60px 0;
    }
    &.dark {
        background: $aa-dark;
        color: $white;
        &.negative-margin {
            @include media-breakpoint-up(md) {
                margin-top: -200px;
            }
        }
    }
}

.contact-cta {
    color: $white;
    padding: $spacing-xxl;
    background: $aa-gray;
}
.section-who {
    padding: 0;
    .who-block {
        display: flex;
        align-items: center;
        
        @include media-breakpoint-down(xs) {
            display: block;
        }
        .about-text {
            background: $aa-grey;
            position: relative;
            z-index: 2;
            padding: $spacing-xl;
            @include media-breakpoint-up(md) {
                margin-right: -100px;
                max-width: 600px;
                float: right;
            }
            h1 {
                font-weight: 600;
                padding: 0 0 $spacing-lg 0;
            }
            @include media-breakpoint-down(xs) {
                padding: $spacing-lg;
                margin: 0 auto;
            }
        }
        .about-img {
            position: relative;
            z-index: 1;
        }
    }
}

.section-reputation {
    .reputation-block {
        display: flex;
        @include media-breakpoint-down(xs) {
            display: block;
        }
        .reputation-tabs {
            position: relative;
            .nav-link {
                color: $aa-dark;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 14px;
                font-weight: 600;
                border-bottom: 1px solid $gray-200;
                padding: $spacing-lg $spacing-sm;
                border-radius: 0;
                position: relative;
                &.active {
                    background: $gray-100;
                    &:after {
                        position: absolute;
                        font-family: 'Material Icons';
                        content: '\e5cc';
                        -webkit-font-feature-settings: 'liga';
                        font-size: 24px;
                        color: $primary;
                        right: 0;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            @include media-breakpoint-down(xs) {
                padding: $spacing-lg;
                margin: 0 auto;
            }
        }
    }
}

.product-section {
    .product {
        height: 100%;
        margin-bottom: $spacing-xxl;
        a {
            padding: $spacing-md;
            display: block;
            height: 100%;
            &:hover {
                box-shadow: $shadow;
                border-radius: 2px;
            }
        }
        .product-item {
            height: 100%;
            a {
                display: inline-block;
            }
            &.woocommerce {
                .pi-img-wrapper {
                    max-height: 300px;
                    height: 300px;
                    text-align: center;
                    img {
                        max-height: 100%;
                    }
                    @include media-breakpoint-down(md) {
                        height: 200px;
                    }
                }
                .entry-title {
                    color: $aa-dark;
                    font-weight: 300;
                    font-size: 18px;
                    text-transform: capitalize;
                }
                .pi-price {
                    color: $aa-dark;
                    font-size: 18px;
                    text-transform: capitalize;
                }
                .pi-rating {
                    float: left;
                    padding: $spacing 0;
                }
            }
        }
    }
}

.logo-section {
    .logo-carousel {
        .client-logo {
            padding: $spacing-sm;
        }
    }
}

.material-icons {
    margin-right: $spacing;
    @include media-breakpoint-down(xs) {
        margin-right: 0 !important;
    }
}

.page-header {
    padding: 100px 0;
    .header-text {
        .big-heading {
            padding: 0 0 $spacing-lg 0;
            position: relative;
            margin-bottom: $spacing-lg;
            &:after {
                position: absolute;
                content:"";
                width: 80px;
                height: 5px;
                bottom: 0;
                left: 0;
                background: $primary;
            }
        }
        .small-heading {
            padding: $spacing-lg 0;
            font-weight: 600;
            span {
                color: $primary;
            }
            &:after {
                display: none;
            }
        }
    }
}

.page-section {
    padding: $spacing-xxl 0;
    &.media {
        padding: $spacing-sm 0 $spacing-xxl;
        overflow: hidden;
    }
    .section-title {
        text-align: center;
        font-weight: 700;
        position: relative;
        padding-bottom: $spacing-lg;
        &:after {
            position: absolute;
            content:"";
            width: 80px;
            height: 5px;
            bottom: 0;
            background: $primary;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &.mute {
            color: $gray-600;
            text-transform: uppercase;
            text-align: left;
            font-weight: 600;
            &:after {
                display: none;
            }
        }
    }
    .section-services {
        padding: $spacing-xl 0;
        .single-service {
            @include media-breakpoint-down(xs) {
                padding-bottom: $spacing-xl;
            }
            .service-image {
                margin-bottom: $spacing;
                max-height: 240px;
                overflow: hidden;
                img {
                    object-fit: cover;
                }
            }
            .service-desc {
                .title {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 1.8em;
                    position: relative;
                    display: inline-block;
                    padding-right: $spacing-lg;
                    &:after {
                        position: absolute;
                        content:"";
                        width: $spacing-md;
                        height: 3px;
                        top: $spacing-md;
                        right: 0;
                        background: $primary;
                    }
                }
                .description {
                    margin-bottom: 22px;
                    font-size: 14px;
                    line-height: 1.8em;
                }
                a {
                    color: #fff;
                    font-size: 14px;
                    text-decoration: none;
                    i {
                        margin-right: 10px;
                        color: #f70037;
                    }
                }
            }
        }
    }
    &.categories-other {
        .section-title {
            text-align: left;
            &:after {
                left: 0;
                transform: none;
            }
        }
    }
}

.main-color {
    color: $primary !important;
}

.section-location {
    background: $aa-dark;
    color: $white;
    .location-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: $spacing-xxl;
        .location-text {
            max-width: 600px;
            .text-heading {
                position: relative;
                padding-bottom: $spacing-lg;
                margin-bottom: $spacing-lg;
                &:after {
                    position: absolute;
                    content:"";
                    width: 80px;
                    height: 5px;
                    bottom: 0;
                    left: 0;
                    background: $white;
                }
            }
            .text-body {
                p {
                    color: $white;
                }
            }
        }
    }
	.location-map {
        padding: 0;
        position: relative;
        .map-block {
            height: 100%;
            min-height: 600px;
            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }

}

.category-section {
    display: flex;
    justify-content: center;
    .category {
        margin-bottom: $spacing-lg;
        .category-inner {
            padding: $spacing-lg 0;
            word-wrap: break-word;
        }
        .category-image {
            margin-top: $spacing-lg;
            overflow: hidden;
            height: 240px;
            max-height: 240px;
            display: flex;
            align-items: center;
            background: $white;
            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }
}

.wp-blocks-gallery {
    .blocks-gallery-item {
        figcaption {

        }
    }
}

.contact-page {
    .content-area {
        @include media-breakpoint-up(lg) {
            margin-top: -80px;
        }
        .contact-info {
            background: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: $spacing-sm;
            color: $white;
            margin-bottom: $spacing-xxl;
            a {
                color: $white;
            }
            .pretitle {
                margin: 0;
                &:after {
                    display: none;
                }
            }
        }
    }
}

.contact-info {
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-sm;
    color: $white;
    a {
        color: $white;
    }
    .pretitle {
        &:after {
            display: none;
        }
    }
}

.nf-form-content {
    max-width: initial !important;
    .nf-field-element {
        div {
            border: 0 !important;
        }
        input {
            border: 0 !important;
        }
        textarea {
            border: 0 !important;
        }
    }
}


.left-dash {
    padding-left: 30px;
    position: relative;
    &:after {
        position: absolute;
        content:"";
        width: 20px;
        height: 3px;
        background: $primary;
        left: 0;
        top: 50%;
    }
}

.category-page {
    @include media-breakpoint-up(lg) {
        margin-top: -250px;
    }
    .category-section {
        display: flex;
        justify-content: center;
        .category-search {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding: $spacing-xxl 0;
            h6 {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 14px;
                color: $aa-dark;
                margin: $spacing 0;
            }
        }
        .category-block {
            margin-bottom: $spacing-lg;
            .category-inner {
                padding: $spacing-lg 0;
                word-wrap: break-word;
                .category-title {
                    a {
                        color: $aa-dark;
                    }
                }
                .product-count {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 14px;
                    padding: $spacing-xs 0;
                }
            }
            .category-image {
                margin-top: $spacing-lg;
                overflow: hidden;
                height: 240px;
                max-height: 240px;
                display: flex;
                align-items: center;
                background: $white;
                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
}

.page-header {
    .header-row {
        .header-text {
            color: $white;
            .headline {
                color: $white;
            }
        }
    }
}

.header-light {
    .page-header {
        .header-row {
            .header-text {
                color: $aa-dark;
                .headline {
                    color: $aa-dark;
                }
            }
        }
    }
}

.about-page {
    .page-header {
        .header-row {
            position: relative;
            .header-text {
                .headline {
                    color: $aa-dark;
                    font-size: 200px;
                    font-weight: 900;
                    margin: 0;
                    padding: 0;
                    @include media-breakpoint-down(sm) {
                        font-size: 100px;
                    }
                    &:after {
                        display: none;
                    }
                }
                .pretitle {
                    color: $aa-dark;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    &:after {
                        display: none;
                    }
                }
            }
            .about-text {
                position: absolute;
                right: 0;
                bottom: -250px;
                background: $aa-dark;
                padding: $spacing-xl;
                color: $white;
                max-width: 400px;
                @include media-breakpoint-down(sm) {
                    position: relative;
                    bottom: 0;
                }
                p {
                    position: relative;
                    padding-top: $spacing-lg;
                    &:before {
                        position: absolute;
                        content:"";
                        width: 40px;
                        height: 5px;
                        top: 0;
                        left: 0;
                        background: $primary;
                    }
                }
            }
        }
    }
    .content-area {
        padding: 100px 0;
    }
    .about-contact-block {
        .about-contact {
            .block-left {
                position: relative;
                background-image: url(../img/section-besoin-d-aide-web-reverse.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                padding-top: 50px;
                min-height: 600px;
                margin-left: -100px;
                @include media-breakpoint-down(sm) {
                    margin-left: 0;
                    min-height: 250px;
                }
                .block-left-content {
                    padding-left: 250px;
                    @include media-breakpoint-down(sm) {
                        padding-left: 50px;
                    }
                    .heavy-weight {
                        font-size: 200px;
                        font-weight: 900;
                        margin: 0;
                        padding: 0;
                        @include media-breakpoint-down(sm) {
                            font-size: 60px;
                        }
                        &:after {
                            display: none;
                        }
                    }
                }
                .block-left-cta {
                    position: absolute;
                    bottom: -40px;
                    left: 100px;
                }
            }
            .block-right {
                padding-top: 100px;
                display: flex;
                align-items: center;
            }
        }
    }
    .about-innovation {
        padding: 400px 0 100px;
        background: url(../img/vault-dark-bg-web.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        @include media-breakpoint-down(sm) {
            padding: 100px 0 50px;
        }
        .innovation-content {
            display: flex;
            justify-content: center;
            h2 {
                padding: 0;
                &:after {
                    display: none;
                }
            }
            .pretitle {
                padding: $spacing-lg 0;
            }
        }
    }
}

.services-page {
    .page-header {
        .header-row {
            position: relative;
            .header-text {
                color: $aa-dark;
                .headline {
                    color: $aa-dark;
                }
            }
        }
    }
    .services-slider {
        @include media-breakpoint-up(lg) {
            margin-top: -200px;
        }
        .services-section {
            padding-top: $spacing-lg;
            .owl-theme {
                .owl-stage-outer {
                    overflow: visible;
                }
                .owl-nav {
                    position: absolute;
                    top: -50px;
                    right: 0;
                    margin: 0;
                    [class*='owl-'] {
                        background: $aa-dark;
                        color: $white;
                        padding: $spacing; 
                        font-size: 36px;
                        width: 50px;
                        height: 50px;
                        line-height: 0.5;
                    }
                }
            }
            .service-block {
                position: relative;
                .service-inner {
                    padding: $spacing-lg;
                    word-wrap: break-word;
                    .service-title {
                        a {
                            color: $aa-dark;
                        }
                    }
                    .service-subtitle {
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 14px;
                        padding: $spacing-xs 0;
                    }
                }
                .service-image {
                    margin-top: $spacing-lg;
                    overflow: hidden;
                    max-height: 240px;
                    display: flex;
                    align-items: center;
                    background: $white;
                    img {
                        object-fit: fill;
                        // height: 100%;
                    }
                }
                .service-cta {
                    position: absolute;
                    top: 20%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    opacity: 0;
                    transition: opacity .35s ease;
                }
                &:hover {
                    transform: scale(1.01);
                    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
                    .service-cta {
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    .services-contact-block {
        .services-contact {
            .block-left {
                background-image: url(../img/repair-man-dark-bg_long.jpg);
                background-position: 220px top;
                background-size: contain;
                min-height: 900px;
                background-repeat: no-repeat;
                padding-top: 100px;
                @include media-breakpoint-down(sm) {
                    min-height: 600px;
                    background-position: 110px top;
                }
                .light-weight {
                    color: transparent;
                    background: linear-gradient(to right, $aa-dark 0%,$aa-dark 25%,$white 25.01%,$white 100%);
                    -webkit-background-clip: text;
                    &:after {
                        display: none;
                    }
                }
            }
            .block-right {
                padding-top: 100px;
            }
        }
    }
    .services-investment {
        padding: 400px 0 100px;
        background: url(../img/vault-dark-bg-web.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        backdrop-filter: grayscale(1);
        @include media-breakpoint-down(sm) {
            padding: 200px 0 50px;
        }
        .investment-content {
            display: flex;
            justify-content: center;
            h2 {
                padding: 0;
                &:after {
                    display: none;
                }
            }
            .pretitle {
                padding: $spacing-lg 0;
            }
        }
    }
}

.pretitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    padding: $spacing-xs 0;
    display: flex;
    align-items: center;
}

.contact-block {
    padding: 0;
    .contact-content {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        h1 {
            padding-bottom: $spacing;
            &:after {
                right: 0;
                left: initial;
                color: $aa-dark;
            }
        }
    }
}

.service-page {
    .content-area {
        margin-top: -40px;
        padding-bottom: 100px;
    }
}

#homeModal {
    .modal-content {
        
        background-color: transparent;
        border: 0;
        @include media-breakpoint-up(sm) {
            width: 600px;
        }
        .modal-header {
            border: 0;
            margin-bottom: $spacing-lg;
            .close {
                background: $white;
                color: $aa-dark;
                border-radius: 50%;
                line-height: .7;
                padding: 0.8rem;
                opacity: 1;
            }
        }
        .modal-body {
            padding: 0;
        }
        .modal-footer {
            border: 0;
            justify-content: center;
            flex-direction: column;
            color: $white;
        }
    }
}

.modal-backdrop.show {
    opacity: .8;
}


