// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #03455C; 

$aa-blue: #003e4f;
$aa-dark: #1F2732;
$aa-charcoal: #404040;
$aa-teal: #029ca0;
$aa-grey: #d7d7d7;
$aa-gray: #f7f7f7;
$aa-orange: #ff5100;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$body-font: 'Nunito Sans', sans-serif;

$shadow: hsla(200, 20%, 20%, 0.25);
$cutout-size: 1rem;

// Spacing

$spacing-xs: 5px;
$spacing: 10px;
$spacing-sm: 15px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 40px;
$spacing-xxl: 50px;
$spacing-max: 60px;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1240px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 980px,
  xl: 1200px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");
